
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<!-- Parçalanan Heade karşılık gelcek alan olarak tek satırda eklemiş olduk-->
@Html.Action("PartialHead")
<body>
    <!--header-->
    @Html.Action("PartialNavbar")
    <!--/header-->
    <!-- Domain Modal -->
    @Html.Action("PartialQuickContent")
    <!-- //Domain modal -->
    <!-- banner section -->
    @Html.Action("PartialFeature")
    <!-- //banner section -->
    <!-- home page about section -->
    @Html.Action("PartialService")
    <!-- //home page about section -->
    <!-- home page about section -->
    @Html.Action("PartialSkill")
    <!-- //home page about section -->
    <!-- home page about section -->
    @Html.Action("PartialAward")
    <!-- //home page about section -->
    <!-- home page about section -->
    @Html.Action("PartialTestimonial")
    <!-- //home page about section -->
    <!-- home page about section -->
@Html.Action("PartialStatisticAndProject")   
    <!-- //home page about section -->
    <!-- home page contact section -->
@Html.Action("PartialContact")   
    <!-- //home page contact section -->
 @Html.Action("PartialScript")
</body>

</html>

