@model MyPortfolio.Models.About
    <section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">Hakkımda</span>
                <h1 class="mb-4 title">
                    @ViewBag.introduction, <span class="type-js"><span class="text-js">Ben @ViewBag.name</span></span><br>
                    @ViewBag.title
                </h1>
                <p class="mx-lg-5">@ViewBag.description
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="@ViewBag.image" alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
@Html.Action("PartialSocial", "Default")      
        </div>
    </div>
</section>
